.league-container {
    text-align: left;
  
}

.league-table {
    width: 50%;
}

.league-phase {
border: 1px solid black;
}

.top-scorers {
    text-align: left;
}

.top-scorers li {
 
    padding-inline-start: 0px;
}