

.leagueinfo-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.leagueinfo-header h2 {
    margin: 8px 0px;
}

.league-season {
    text-align: left;
}

.league-container {
  text-align: left;
  
}

.league-table {
  width: 50%;
}

.table-legend  tr {
  display: flex;
  justify-content: space-between;

}

.league-phase {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
 
}

.league-phase tr {
  display: flex;
}

.top-scorers {
  text-align: left;
}

.top-scorers li {
  padding-inline-start: 0px;
}
