.league-info {
  text-align: left;
}

.league-container {
  display: flex;
  flex-direction: column;
}

.group-standings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.group-standings-card {
  /* border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px; */

  background: #fff;
}

.leagueinfo-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.leagueinfo-header h2 {
  margin: 8px 0;
}

.view-switch {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.view-switch button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #eee;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.view-switch button.active {
  background: #45b65e;
  color: white;
}

.league-table {
  border-collapse: collapse;
  margin-top: 1rem;
}

.league-table th,
.league-table td {
  padding: 0.3rem;
  border: 1px dotted #eee;
  overflow: hidden;

  font-size: 0.8rem;
}

.league-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.table-team-container {
  text-decoration: none;
  color: inherit;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-team {
  text-decoration: none;
  color: inherit;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-team:hover {
  color: #151786;
  text-decoration: underline;
}

.first-place {
  display: flex;
  gap: 4px;
  align-items: center;
}

.team-points {
  font-weight: 600;
  text-align: center;
}

.goals-assists {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.top-scorers,
.top-assists,
.top-red-cards {
  flex: 1;
  min-width: 300px;
}

.individual-table th,
.individual-table td {
  padding: 0.1rem 0.5rem;
  border: 1px solid #ddd;
  font-size: 0.8rem;
}

.individual-number {
  text-align: center;
}

.individual-logo {
  width: 12px;
}

.player-link {
  cursor: pointer;
}

.player-link:hover {
  text-decoration: underline;
}

.bracket-view,
.qualification-view {
  background-color: #f9f9f9;
  border-radius: 8px;
}

.bracket-view {
  display: flex;
  flex-direction: column;
}

.qualification-bracket,
.bracket-view {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  position: relative;
}

.bracket-round {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  gap: 1rem;
}

.bracket-match {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 0.5rem;
  width: 170px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  font-size: 10px;
}

.bracket-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.25rem 0;
  font-size: 0.7rem;
}

.bracket-team img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.qualification-list {
  list-style: none;
  padding-left: 0;
}

.qualification-list li {
  margin-bottom: 0.5rem;
}

.bracket-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 3000px;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.bracket-view {
  display: flex;

  /* gap: 2rem; */
  padding: 1rem;
}

.bracket-round-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bracket-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.bracket-round-title {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.bracket-round-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bracket-match-card {
  background: #f9f9f9;
  border-radius: 12px;
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd; */
}

.bracket-match-group {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 0.75rem;
  background-color: #f9f9f9;
}

.bracket-aggregate {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  text-align: center;
}

.bracket-date {
  font-size: 0.7rem;
  margin: 0;
  color: #555;
}

.bracket-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* for smaller screens
.bracket-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
} */

.round-separator {
  border: none;
  border-top: 2px solid #ccc;
  margin: 1.5rem 0;
  width: 80%; /* or adjust as needed */
  margin-left: auto;
  margin-right: auto;
}
