.teaminfo-header {
  display: flex;
  justify-content: center;
}

.teaminfo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.teaminfo-container h3 {
  text-decoration: underline;
}

.facts-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 0.8rem;
  box-shadow: 0px 2px 2px gray;
 
}

.team-info-logo {
  max-width: 120px;
  max-height: 120px;
}


.team-facts h2 {
  text-align: left;
  margin-top: 0;
}

.team-facts p {
  margin: 6px 0;
  text-align: left;
}


.squad h3 {
  margin: 0px 10px 0px 0px;
}

.squad-type-title {
  margin: 0px 10px 0px 0px;
  text-align: left;
}

.squad-list {
  list-style: none;
  padding: 0;
}

.squad-list li {
  display: flex;
  align-items: center;
  margin: 2px 0;
  font-size: 13px;
  cursor: pointer;
  border-radius: 14px;
}

.squad-list li:hover {
   background-color: rgb(218, 213, 213)
 
}

.squad-columns {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.squad-column {
  flex: 1 1 250px;
  min-width: 260px;
}

.squad-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.squad-group {
  margin-bottom: 16px;
}

.player-photo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.coach-info {
  display: flex;
  flex-direction: column;

}

.coachphoto-name {
  display: flex;
  flex-direction: row;
  font-size: 13px;
 
}

.coach-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.results {
  display: flex;

  width: 50%;
  font-size: 13px;
  gap: 16px;
}

.results h3 {
  margin: 0px 0px 6px 0px;
  text-decoration: none;
}

.results-list {
  text-align: left;
  max-width: 50%;
}

.result-item:hover {
  cursor: pointer;
}

.result-item .win {
  background-color: #d4edda;
  color: #155724;

  border-radius: 4px;
}

.result-item .loss {
  background-color: #f8d7da;
  color: #721c24;

  border-radius: 4px;
}

.result-item .draw {
  background-color: #fff3cd;
  color: #856404;

  border-radius: 4px;
}

.result-legend {
  display: flex;

  gap: 1rem;
  margin-bottom: 6px;
  font-size: 0.9rem;
  align-items: center;
}

.legend-item {
  padding: 0.1rem 0.6rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
}

.legend-item.win {
  background-color: #d4edda;
  color: #155724;
}

.legend-item.loss {
  background-color: #f8d7da;
  color: #721c24;
}

.legend-item.draw {
  background-color: #fff3cd;
  color: #856404;
}

@media (max-width: 768px) {
 .team-info-logo {
  width: 60px;
  height: 60px;
 }

 .facts-container {
  width: 100%;
  padding: 4px;
  justify-content: space-evenly;
  gap: 0;
 }

 .team-facts {
  font-size: 10px;
 }

 .team-facts p {
  margin: 0;
 }
 
 .squad-type-title {
  font-size: 12px;
  margin: 0;
 }

 .squad-group li {
  font-size: 10px;
  text-align: left;
 }

 .player-photo {
  width: 26px;
  height: 26px;
 }

 .results {
  justify-content: space-between;
  
 }

 .results h3 {
  font-size: 10px;
  text-decoration: none;
 }

 .result-legend {
  gap: 2px;
 }

 .legend-item {
  font-size: 4px;
 }

 .results-list {
  width: 50%;
 }

 .result-item {
  font-size: 6px;
 }

 .coach-photo {
  height: 50px;
  width: 50px;
 }

 .coachphoto-name {
  height: 20px;
 }

.squad-list {
  width: 180px;
}

.player-photo {
  margin-right: 1px;
}

.squad-column {
  flex: 1 1 250px;
  min-width: 100px;
}

.squad-group {
  width: 50%;
}
 
}