.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.match-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  max-width: 600px;
  gap: 5rem;
  text-align: center;
}

.match-stadium,
.match-referee {
  font-size: 0.8rem;
  color: #666;
  /* color: #CCCCCC; test color */
  display: flex;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.match-status {
  font-size: 0.8rem;
  color: #555;
  /* color: #CCCCCC; test color */
  text-align: center;
}

.match-scores {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

.team-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.team-info-home {
  justify-content: flex-end;
}

.team-info-away {
  justify-content: flex-start;
  text-align: right;
}

.match-team-logo {
  width: 40px;
  object-fit: contain;
}

.Match h3 {
  margin: 10px 0 16px;
}

.no-lineup {
  z-index: 3;
  font-size: 1.2rem;
  font-weight: 600;
}

.pitch-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.pitch-wrapper.vertical {
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #c2f3c1;
  /* background-color: #2F5532; test color */
  /* background-color: #b2d98b; */
  /* background-color: #6AA84F; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pitch-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pitch-divider.horizontal {
  width: 100%;
  height: 1px;
  background-color: white;
  position: relative;
}

.subs-wrapper {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
}

.subs-wrapper h4,
.subs-side h4 {
  text-align: center;
}

.subs-sides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.subs-side {
  max-width: 400px;
}

.used-subs,
.unused-subs {
  display: grid;
  grid-template-columns: 1fr 1px 1fr; 
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  margin: 0 0 16px;
  text-align: center;
  background-color: rgba(235, 231, 232, 0.459);
  border-radius: 20px;
  padding: 10px;
}

.used-subs {
  justify-content: space-around;
}

.substitute-player {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 4px 2px 4px;
  font-size: 0.8rem;  
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 6px;
}

.substitute-placeholder {
  width: 100%;
  /* visibility: hidden; */
  /* background-color: pink; */
  padding: 2px 4px 2px 4px;
}

.substitute-player:hover {
  background: inherit;
  text-decoration: underline;
}

.player-photo-sub {
  width: 50px;
  border-radius: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.player-numbered-name {
  font-weight: 600;
}

.sub-text {
  display: flex;
  align-items: center;
}

.sub-out-player {
  display: block;
}

.sub-on-icon {
  color: #4ca752;
}

.subs-skeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 8px;
}

.goal-timeline {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 16px 0;
}

.goal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  text-align: center;
  width: 400px;
}

.goal-left,
.goal-right {
  display: flex;
  align-items: center;
  width: 40%;
}

.goal-left {
  justify-content: flex-start;
  text-align: right;
}

.goal-right {
  justify-content: flex-end;
  text-align: left;
}

.goal-minute {
  font-weight: bold;
  color: #666;
  /* color: #CCCCCC; test color */
  white-space: nowrap;
}

.goal-player {
  width: 100%;
  font-weight: 400;
  color: #333;
  /* color: #CCCCCC; test color */
  cursor: pointer;
  transition: color 0.2s;
}

.goal-player:hover {
  color: rgb(53, 121, 57);
}

.red-card-sub-icon {
  position: absolute;
  top: -5px;
  right: 30px;
}


.goal-icon.own-goal {
  color: red;
}

.match-score-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.match-league {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  color: #444;
  /* color: #CCCCCC; test color */
  align-self: flex-start;
  padding: 0px 8px;
}

.match-league-link {
  color: #333;
  /* color: #CCCCCC; test color */
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s ease;
}

.match-league-link:hover {
  color: rgb(53, 121, 57);
}

.match-team-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #333;
  /* color: #CCCCCC; test color */
  font-weight: 500;
  gap: 10px;
  transition: 0.5s ease;
}

.match-team-link:hover {
  color: rgb(53, 121, 57);
}

.match-league-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.match-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.match-time {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-weight: 500;
  color: #444;
  /* color: #CCCCCC; test color */
}

.match-date-time {
  display: flex;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {

  .match {
    width: 100%;
  }

  .pitch-wrapper.vertical {
    width: 100%;
  }

.match-league {
  font-size: 0.7rem;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.match-header {
  gap: 2.5rem;
  font-size: 12px;
}

.match-scores {
  font-size: 16px;
}

.match-status {
  font-size: 10px;
}

.match-league-logo {
  display: none;
}

.goal-item {
  width: 260px;
  font-size: 0.7rem;
}

.match-stadium,
.match-referee {
  font-size: 0.7rem;
}

.subs-wrapper {
  width: 75%;
}

.subs-wrapper h4 {
  font-size: 0.7rem;
  margin: 2px;
}

.substitute-player {
  font-size: 0.6rem;
}

.used-subs,
.unused-subs {
  gap: 10px;
}

.substitute-player:hover {
background-color: inherit;
}
}

