.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.match-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.match-status {
  text-align: center;
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: #666;
}

.team-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.match-team-logo {
  width: 40px;
  object-fit: contain;
}

.match-scores {
  font-size: 20px;
}

.Match h3 {
  margin-bottom: 16px;
  margin-top: 10px;
}

.pitch-wrapper.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #B2FFB0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pitch-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pitch-divider.horizontal {
  width: 100%;
  height: 1px;
  background-color: white;
  position: relative;
}

.pitch-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.subs-wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
  color: black;
  text-align: left;
}

.subs-wrapper h3 {
  text-align: center;
}

.subs-side {
  max-width: 400px;
}

.substitute-player {
  padding: 4px 0;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.substitute-player:hover {
  background: #4ca752;
  color: white;
}

.player-photo-sub {
  width: 50px;
  border-radius: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.sub-text {
  display: flex;
  align-items: center;
}

.subs-skeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 8px;
}

.sub-on-icon {
  color: #4ca752;
}

.match-goalscorers {
  width: 40%;
}

.goal-timeline {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
}

.goal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 0.7rem;
}

.goal-left,
.goal-right {
  display: flex;
  align-items: center;
  /* gap: 6px; */
  width: 200px;
}

.goal-left {
  justify-content: flex-start;
}

.goal-right {
  justify-content: flex-end;
}

.goal-score {
  width: 20%;
  font-weight: bold;
  color: #222;
}

.goal-minute {
  font-weight: bold;
  color: #666;
  white-space: nowrap;
}

.goal-player {
  cursor: pointer;
  font-weight: 400;
  color: #333;
  transition: color 0.2s;
  width: 100px;
}

.goal-player:hover {
  color: #1976d2;
}
