.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
 


}

.match-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.match-status {
  text-align: center;
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: #666;
}

.team-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.match-team-logo {
  width: 40px;
  object-fit: contain;
}

.match-scores {
  font-size: 20px;
}

.Match h3 {
  margin-bottom: 16px;
  margin-top: 10px;
}

.pitch-wrapper.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

 
position: relative; /* important to position child elements absolutely if needed */
  overflow: hidden; /* optional: to avoid overflow issues */
  /* background: url('/Football_field.svg.png') no-repeat center center; */
  background-color: #B2FFB0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pitch-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pitch-divider.horizontal {
  width: 100%;
  height: 1px;
  background-color: white;
  position: relative;
}

.pitch-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.subs-wrapper {
  display: flex;
  justify-content: center;

  gap: 100px;

  color: black;
  text-align: left;
}

.subs-wrapper h3 {
  text-align: center;
}

.subs-side {
  flex: 1;
  max-width: 300px;
 
}

.substitute-player {
  padding: 4px 0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 20px;
  width: 110%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.substitute-player:hover {
  background: #4ca752;
  color: white;
}

.player-photo-sub {
   width: 50px;
  border-radius: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.sub-text {
  display: flex;
  align-items: center ;
}