.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  transition: opacity 0.2s ease;
}

.player-modal.closing {
  animation: popup-close 0.2s ease-in forwards;
}

.player-modal {
  position: fixed;
  top: 20%;
  left: 40%;
  font-size: 0.8rem;
  background: #3f7c44;
  width: 340px;
  height: 280px;
  padding: 2px 10px;
  z-index: 1000;
  border-radius: 8px;
  animation: popup 0.2s ease-out;
  color: white;
}

.button-header {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
}

.button-header button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 8px;
  padding: 0px 0px;
  height: 100%;
}

.button-header button:hover {
  background-color: black;
}

.modal-name {
  margin: 4px 0px;
  text-align: left;
  font-size: 18px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-facts-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.fact-span {
  font-weight: 700;
}

.player-photo-lg {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.modal-content p {
  margin: 0;
  text-align: left;
}
