.lineup-wrapper {
  display: flex;
  height: 260px;
  
  
}

.blurred {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s ease;
}

.formation-display {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 400;
}

.home-formation {
  left: 15px;
  top: 4px;
}


.away-formation {
   bottom: 4px;
  right: 25%;
 
}

.pitch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #1b5e20;
  width: 100%;
  max-height: 100%;
  padding: 1rem;
  color: white;
  font-size: 0.65rem;
  
}

.goalkeeper,
.formation-row {
  display: flex;
  justify-content: center;
  
  gap: 3px;
}

.player {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.3rem 0.2rem;
  border-radius: 20px;
  margin: 0.3rem 0.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.player:hover {
  background-color: rgb(73, 167, 78);
}

.substitutes-box {
  margin-left: 0.8px;
  width: 160px;
  max-height: 100%;
  padding: 0.4rem;
  background-color: #1b5e20;
  color: white;
  font-size: inherit;
  text-align: left;
  overflow-y: auto;
}

.player-substitute {
  cursor: pointer;
  object-fit: contain;
  font-size: 0.7rem;
  font-family: inherit;
  display: flex;
  align-items: center;
 transition: 0.3s ease;
  border-radius: 4px;
}

.player-substitute:hover {
  background-color: rgb(73, 167, 78);
}

.substitutes-box h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline;
}

@keyframes popup {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup-close {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.7);
    opacity: 0;
  }
}


