.blurred {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s ease;
}

.formation-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.9rem;
  font-weight: 400;
  z-index: 10;
}

.home-corner {
  top: 4px;
  left: 15px;
}

.away-corner {
  bottom: 4px;
  right: 15px;
  align-items: flex-end;
}

.fallback-lineup-label {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: left;
}

.pitch-container {
  width: 100%;
  height: 400px;
}

.pitch-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 400px;
  color: black;
  position: relative;
}

.formation-positioned {
  position: absolute;
  width: 100%;
  height: 100%;
}

.positioned-player {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 5;
  padding: 2px;
  border-radius: 8px;
  width: 180px;
}

.positioned-player:hover {
  /* background-color: rgba(53, 121, 57, 0.8); */
  /* color: white; */
  /* transform: translate(-50%, -50%) scale(1.1); */
  text-decoration: underline;
}

.player-photo-positioned {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

.player-photo-placeholder-positioned {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  margin-bottom: 4px;
}

.player-text-positioned {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  /* font-size: 1rem; */
}

.player-number {
  font-weight: 400;
  font-size: 0.8rem;
}

.full-name {
  display: inline;
}
.last-name-only {
  display: none;
}

.player-name {
  font-size: 0.6rem;
  white-space: nowrap;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-icons {
  display: flex;

  margin-top: 2px;
}

.goal-icon {
  margin-left: 2px;
  color: black;
  margin-bottom: -4px;
}

.own-goal-icon {
  color: red;
  margin-left: 2px;
  margin-bottom: -4px;
}

.sub-off-icon {
  color: #EE4B2B;
}

.pitch-markings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  border: 2px solid white;
  border-radius: 50%;
}

.penalty-area {
  position: absolute;
  width: 200px;
  height: 80px;
  border: 2px solid white;
  left: 50%;
  transform: translateX(-50%);
}

.home-penalty {
  top: 0;
  border-top: none;
}

.away-penalty {
  bottom: 0;
  border-bottom: none;
}

.formation {
  position: relative;
  width: 100%;
}

.goalkeeper,
.formation-row {
  display: flex;
  justify-content: center;
  gap: 1px;
}

.goalkeeper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.player {
  padding: 0.6rem 1.1rem;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  flex-direction: column;
  z-index: 1;
}

.player-text {
  display: flex;
  align-items: center;
}

.player-photo-s {
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.player:hover {
  background-color: rgb(53, 121, 57);
  color: white;
}

@keyframes popup {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup-close {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}

.goal-count {
  position: absolute;
  top: -1px;
  right: -1px;
  background: #000000;
  color: white;
  font-size: 0.6rem;
  border-radius: 50%;
  padding: 1px 4px;
  line-height: 1;
}

.player-photo-wrapper {
  position: relative;
  display: inline-block;
}

.goal-icon-wrapper,
.own-goal-icon-wrapper {
  position: absolute;
  top: -5px;
  left: 30px;
  background: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 23px;
}

.goal-count {
  font-size: 10px;
  margin-left: 2px;
}

.sub-icon-wrapper {
  position: absolute;
  bottom: 0;
  left: 30px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-card-icon-wrapper {
  position: absolute;
  top: -5px;
  right: 30px;
  border-radius: 50%;
  padding: 2px;
}

.red-card-icon {
  width: 14px;
  height: 20px;
}

@media (max-width: 768px) {

  .player-photo-positioned {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  }

  .positioned-player:hover {
  background-color: inherit;
  color: white;
  /* transform: translate(-50%, -50%) scale(1.1); */
}

  .player-number {
    font-size: 9.5px;
  }

  .full-name {
    display: none;
  }
  
  .last-name-only {
    display: inline;
  }

  .formation-positioned {
   width: 100%;
  }

  .goal-icon-wrapper,
  .own-goal-icon-wrapper {
    bottom: 17px;
    left: 28px;
  }

  .sub-icon-wrapper {
    top: 20px;
    left: 30px;
  }

  .pitch-half {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  color: black;
}

.formation-container {
   font-size: 10px;
}

.fallback-lineup-label {
  font-size: 10px;
}
}