
.blurred {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s ease;
}

.formation-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.9rem;
  font-weight: 400;
}

.home-corner {
  top: 4px;
  left: 15px;
}

.away-corner {
  bottom: 4px;
  right: 15px;
  align-items: flex-end;
}

.fallback-lineup-label {
  font-size: 0.9rem;
  color: white;
  font-style: italic;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: left;
}


.pitch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #4ca752;
  
  max-height: 100%;
  padding: 1rem;
  color: white;
  font-size: 0.8rem;
  position: relative; 
 
}

.goalkeeper,
.formation-row {
  display: flex;
  justify-content: center;
  
  gap: 3px;
}

.player {
  /* background: rgba(255, 255, 255, 0.1); */
  padding: 1rem 1rem;
  border-radius: 20px;
  margin: 0rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}

.player-text {
  display: flex;
  align-items: center;
}

.player-photo-s {
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.player:hover {
  background-color: rgb(53, 121, 57);
}

/* .substitutes-box {
  margin-left: 0.8px;
  width: 160px;
  max-height: 100%;
  padding: 0.4rem;
  background-color: #1b5e20;
  color: white;
  font-size: inherit;
  text-align: left;
  overflow-y: auto;
}

.player-substitute {
  cursor: pointer;
  object-fit: contain;
  font-size: 0.7rem;
  font-family: inherit;
  display: flex;
  align-items: center;
 transition: 0.3s ease;
  border-radius: 4px;
}

.player-substitute:hover {
  background-color: rgb(73, 167, 78);
}

.substitutes-box h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline;
} */

@keyframes popup {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup-close {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.7);
    opacity: 0;
  }
}
