.Calendar {
  background-color: rgb(218, 213, 213);
  /* background-color: #1d665d; */
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0px 4px 0px 10px;
  width: 100%;
  box-sizing: border-box;
}

.calendar-nav {
  display: flex;
  flex-direction: row;
}

.date-clicker {
  background-color: black;
}

.calendar-arrow {
  background: none;
  border: none;
}

.calendar-arrow:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 25%;
}

.calendar-date {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-date:hover {
  background-color: #e0e0e0;
}

.react-datepicker {
  font-family: inherit;
  background-color: rgb(218, 213, 213);
  left: 15%;
}

@media (max-width: 768px) {
  .Calendar {
    padding: 0px 6px 0px 6px;
    margin: 0;
  }

  .calendar-date {
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    width: 175px;
    align-items: center;
    padding: 8px 2px;
  }

  .calendar-arrow {
    color: black;
    padding: 0;
  }

  .search-input {
    padding: 0;
  }

  .calendar-icon {
    display: none;
  }
}
