.Calendar {
  background-color: rgb(218, 213, 213);
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0px 4px 0px 10px;
}

.calendar-nav {
  display: flex;
  flex-direction: row;
}

.date-clicker {
  background-color: black;
}

.calendar-arrow {
  background: none;
  border: none;
  
}

.calendar-arrow:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 25%;
}

.calendar-date {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-date:hover {
  background-color: #e0e0e0;
}

.react-datepicker {
  font-family: inherit;
  background-color: rgb(218, 213, 213);
}

@media (max-width: 768px) {

  .Calendar {
   padding: 0;
  margin: 0;
  }

  .calendar-date {
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 0px 5px 0px;
  }

  .calendar-arrow {
    margin: 0;
  }

  .search-input {
    width: 25%;
  }
}