.header {
     background-color: rgb(218, 213, 213);
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    height: 40px;
    border-radius: 10px;
   
}

.home-button {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.home-button:hover {
    text-decoration: underline;
   
}


.search-input {
  padding: 0.5rem;
  font-size: inherit;
  border-radius: 6px;
  border: none;
  width: 250px;
 
}

.search-input {
    border: none;
}