.header {
  background-color: rgb(218, 213, 213);
  /* background-color: #1d665d; */
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  justify-content: space-between;
  padding: 0px 4px 0px 10px;
  height: 40px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
 
}

.home-button {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  transition: background-color 0.1s ease, border-color 0.1s ease;
  padding: 0px 10px 0px 10px;
}

.home-button:hover {
  background-color: #e0e0e0;
  border-radius: inherit;
}

.search-input {
  padding: 0.5rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 200px;
  outline: none;
}

.search-input:focus {
  border: none;
  outline: none;
}

@media (max-width: 768px) {

  .header {
    height: 30px;
  }

  .home-button {
    font-size: 14px;
    padding: 0;
  }

  .search-input {
    width: 25%;
    height: 30%;
  }

  /* .search-input::placeholder {
  content: ;
} */

}