.Livescores {
  display: flex;
  padding: 0px 10px;
  text-align: left;
  flex-direction: column;
  width: 65%;
  gap: 30px;
  font-size: 1rem;
  /* color: #FFFFFF; test color */
}

.no-fixtures {
  text-align: center;
}

h2 {
  margin-bottom: 1px;
  text-align: center;
}

.league-display {
  border-radius: 10px;
}

.league-display p {
  font-weight: 700;
  /* color: black; test color */
  justify-content: center;
}

.league-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  transition: 1s ease;
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
  /* background: #f1f1f1; */
}

.league-header:hover {
  background: #f1f1f1;
  /* color: black; */
}

.league-logo {
  height: 50px;
  object-fit: contain;
}

.league-name a {
  text-decoration: none;
  color: inherit;
}

.match {
  padding: 12px;
  background: #f1f1f1;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 100%px;
  text-align: center;
}

.match-card {
  cursor: pointer;
  padding: 5px 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(168, 157, 157);
  border-radius: inherit;
  transition: 0.5s ease;
  margin-bottom: 4px;
  align-items: center;
  /* background-color: #1E1E1E; */
 
}

.liveteam-logo {
  height: 25px;
  margin: 0px 6px;
}

.match-card:hover {
  /* background-color: rgb(218, 213, 213); */
  border-radius: 10px;
  background-color: #2A2A2A; /* test color */
}

.match-teams {
  display: flex;
  text-align: left;
}

@media (max-width: 768px) {
  .Livescores {
    width: 100%;
    padding: 0;
  }

  .league-header {
    padding: 0px 4px 0px 4px;
    margin-bottom: 4px;
  }

  .league-header p {
    margin: 0;
  }

  .league-header,
  .match-teams,
  .match-result,
  .livescore-time {
    font-size: 0.8rem;
  }

  .match-teams {
    gap: 2px;
  }

  .liveteam-logo {
    width: 18px;
    height: 18px;
  }

  .league-logo {
    width: 30px;
    height: 30px;
  }

  .match-card {
    height: 20px;
    padding: 4px;
  }

  .match-card:hover {
    background-color: inherit;
  }

  .match-card:active {
    background-color: rgb(218, 213, 213);
  }

  .league-header {
    text-decoration: none;
    color: black;
  }
}
