#root {
  max-width: 85%;
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
  color: black;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  flex: 1;
}

footer {
  padding: 1rem;
  background-color: #f1f1f1;
  text-align: center;
}


.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1rem 0rem;
}

.league-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  #root {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .content-container {
   display: flex;
   justify-content: center;
  }

}
