:root {
  font-family: DM Sans;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #1e2a38; */
  /* background-color: #2e2e2e;
  background-color: #fdfaf6;
  background-color: #fdfaf6;
  background-color: #e2e8dc; */
}



